{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="tekst-list">
{{ range .Pages.ByDate.Reverse }}
    <a class="tekst-row" href="{{ .Permalink }}">
        {{ with .Params.cover }}
        <span class="tekst-thumb"><img src="{{ . | relURL }}" alt=""></span>
        {{ else }}
        <span class="tekst-thumb tekst-thumb-empty"></span>
        {{ end }}
        <span class="tekst-text">
            <span class="tekst-title">{{ .Title }}</span>
            <span class="tekst-date">{{ time.Format "2. January 2006" .Date }}</span>
            <span class="tekst-teaser">{{ .Summary | plainify | truncate 150 }}</span>
        </span>
    </a>
{{ end }}
</div>
{{ end }}
